@model Student

<style>
    *, body {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
    }

    html, body {
        height: 100%;
        background-color: #152733;
    }

    .form-holder {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }

    .form-holder .form-content {
            position: relative;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 60px;
            width: 100%;
    }

    .form-content .form-items {
        border: 3px solid #fff;
        padding: 40px;
        display: inline-block;
        width: 100%;
        max-width: 540px;
        border-radius: 10px;
        text-align: left;
        transition: all 0.4s ease;
        background-color: #1e1e2f;
    }

    .form-content h3 {
        color: #fff;
        text-align: left;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .form-content p {
        color: #fff;
        text-align: left;
        font-size: 17px;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 30px;
    }

    .form-content label {
        color: #fff;
    }

    .form-content input[type=text],
    .form-content input[type=password],
    .form-content input[type=email],
    .form-content select {
        width: 100%;
        padding: 9px 20px;
        text-align: left;
        border: 0;
        outline: 0;
        border-radius: 6px;
        background-color: #fff;
        font-size: 15px;
        color: #8D8D8D;
        margin-top: 16px;
    }

        .form-content input[type=text]:hover,
        .form-content input[type=password]:hover,
        .form-content input[type=email]:hover,
        .form-content select:hover {
            background-color: #ebeff8;
        }

    .btn-primary {
        background-color: #6C757D;
        outline: none;
        border: 0px;
        box-shadow: none;
    }

        .btn-primary:hover {
            background-color: #495056;
            box-shadow: none;
        }

    .valid-feedback {
        color: #2acc80;
    }

    .invalid-feedback {
        color: #ff606e;
    }
</style>

<div class="form-holder">
    <div class="form-content">
        <div class="form-items">
            <h3>Register Today</h3>
            <p>Fill in the data below.</p>
            <form asp-action="Index" asp-controller="Home" method="post" asp-antiforgery="true">
                @*  anitforgery = to keep hidden so that hacker cant stil *@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="mb-2">Full Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <label asp-for="Age" class="mb-2">Age</label>
                    <input asp-for="Age" class="form-control" placeholder="Enter age" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Address" class="mb-2">Address</label>
                    <input asp-for="Address" class="form-control" placeholder="Enter address" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-button mt-3">
                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>

